<style>
    .header {
        width: 100%;
        background-color: var(--bg-head);
    }

    .navigation {
        width: 100%;
        max-width: var(--content-max-width);
        margin: 0 auto;
        padding: 1rem;
        background-color: inherit;
    }

    .nav-hero {
        height: 5rem;
    }
</style>

<header class="header">
    <nav class="navigation">
        <a href="/">
            <img src="/assets/logo/logo.png" alt="Site Logo" class="nav-hero">
        </a>
    </nav>
</header>